.vscode/**
.git/**
.gitignore
src/**
*.ts
*.map
.trae/**
.kiro/**
test/**
test-service-output/**
scripts/**
node_modules/**
docs/**
tools/**
azure.png
*.vsix
tsconfig.json
webpack.config.js
AGENTS.md
test-services.js
